@{
    ViewBag.Title = "Chính Sách Đổi Trả";
}

<style>
    .map-container {
        margin: 0 auto;
        max-width: 100%; /* Đảm bảo bản đồ chiếm toàn bộ chiều rộng của cột */
    }

    .col-md-4 {
        padding: 15px;
    }

        .col-md-4 div {
            margin-bottom: 10px;
        }

    .oooo {
        margin-top: 20px;
    }

    .section-content {
        background-color: #fff;
        padding: 30px 0;
    }

    .title-page {
        font-size: 24px;
        font-weight: bold;
    }

    
</style>

<body>
    <section class="oooo">
        <div class="container">
            <h2 class="title-page">Chính Sách Đổi Trả</h2>
        </div> <!-- container .// -->
    </section>
    <section class="section-content">
        <div class="container">
            <p>
                Nhằm giúp quý khách an tâm chọn lựa cho mình một sản phẩm ưng ý nhất và phục vụ khách hàng chu đáo, Vanhai Studio thông báo chương trình đổi trả cho các sản phẩm và đơn hàng như sau:
            </p>
            <p>
                1. Thời gian đổi trả
                Trong vòng 03 ngày được tính kể từ ngày mua hàng (tại cửa hàng) hoặc ngày nhận hàng (khi mua online).
            </p>
            <p>
                2. Điều kiện đổi trả
                Khách hàng chỉ có thể đổi sản phẩm khi đáp ứng đủ 03 điều kiện sau:
            <p> - Thời gian mua hàng không quá 03 ngày.</p>

            <p> - Phải có hóa đơn mua hàng.<p />
            <p> - Sản phẩm phải còn nguyên vẹn, nguyên nhãn mác, mã vạch, chưa qua sử dụng, giặt ủi, không có mùi lạ và chưa sửa chữa.<p />
            <p> - Sản phẩm không nằm trong các chương trình ưu đãi, giảm giá.<p />

            </p>
            <p>
                3. Quy trình đổi trả
                Cùng mã sản phẩm: Chỉ đổi size, không đổi màu
                (Tham khảo) Dưới đây là phần tham khảo về quy trình đổi trả:
                - Sản phẩm không nằm trong các chương trình ưu đãi, giảm giá.
            <p>+ Đổi tại cửa hàng:</p>
            <p>Bước 1: Gửi mail về địa chỉ vanhaistudio@gmail.com để được hỗ trợ<p />

            <p>Bước 2: Đóng gói sản phẩm cẩn thận có kèm hóa đơn mua hàng, mã vận chuyển (nếu mua online)<p />
            <p> Bước 3: Đến trực tiếp cửa hàng Hades để nhân viên hỗ trợ đổi sản phẩm.</p>
            <p>+ Đổi hàng qua chuyển phát nhanh:</p>
            <p> Bước 1: Gửi mail về địa chỉ vanhaistudio@gmail.com để được hỗ trợ</p>
            <p> Bước 2: Đóng gói sản phẩm cẩn thận có kèm hóa đơn mua hàng, mã vận đơn (nếu mua Online)</p>
            <p> Bước 3: Gửi hàng về địa chỉ: 45 Phan Chu Trinh, Phường Bến Thành, Quận 1, Thành phố Hồ Chí Minh và chờ bộ phận CSKH xác nhận khi nhận hàng.</p>
            <p> Bước 4: Nhận lại sản phẩm đổi hàng theo đường chuyển phát nhanh.</p>
                    
            </p>
            <p>
                Lưu ý:
            <p>- Vanhai Studio chỉ hỗ trợ tối đa một sản phẩm được đổi một lần, không hỗ trợ đổi hàng đối với sản phẩm đã đổi một lần trước đó</p>
            <p> - Vanhai Studio chỉ hỗ trợ đổi Sản phẩm trong cùng một mã sản phẩm. Trường hợp trên Hades chỉ đổi size, không đổi màu.</p>
            <p> - Vanhai Studio chỉ miễn phí đổi hàng trong trường hợp bị lỗi từ nhà sản xuất, giao nhầm hàng trong vòng 1 tháng.</p>
            <p> Trong trường hợp có bất cứ thắc mắc hoặc khiếu nại gì, vui lòng gửi mail về địa chỉ support@hades.vn để được hỗ trợ kịp thời.</p>
               
               
               
            </p>
            <br><br>
            <a href="@Url.Action("Index", "Home")" class="btn btn-light"> &laquo; Quay lại trang chủ</a>
        </div> <!-- container .// -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
</body>
