@{
    ViewBag.Title = "Chính Sách Bảo Mật";
}

<style>
    .map-container {
        margin: 0 auto;
        max-width: 100%; /* Đảm bảo bản đồ chiếm toàn bộ chiều rộng của cột */
    }

    .col-md-4 {
        padding: 15px;
    }

        .col-md-4 div {
            margin-bottom: 10px;
        }

    .oooo {
        margin-top: 20px;
    }

    .section-content {
        background-color: #fff;
        padding: 30px 0;
    }

    .title-page {
        font-size: 24px;
        font-weight: bold;
    }
</style>

<body>
    <section class="oooo">
        <div class="container">
            <h2 class="title-page">Chính sách bảo mật</h2>
        </div> <!-- container .// -->
    </section>
    <section class="section-content">
        <div class="container">


            <p>(Xem chi tiết tại điều 68 đến Điều 73 Nghị Định 52/2013/NĐ-CP)</p>

            <p>HADES luôn tôn trọng sự riêng tư, muốn bảo vệ thông tin cá nhân và thông tin thanh toán của khách hàng. “Chính sách bảo mật thông tin” dưới đây như một lời tuyên bố về cam kết mà chúng tôi thực hiện, nhằm tôn trọng và bảo vệ quyền lợi của người sử dụng</p>

            <p>MỤC ĐÍCH VÀ PHẠM VI THU THẬP THÔNG TIN</p>

            <p>Thông tin cá nhân thu thập được sẽ chỉ được sử dụng trong nội bộ công ty. Khi quý khách hàng đăng ký đặt hàng tại www.hades.vn</p>

            <p>Thông tin cá nhân mà chúng tôi thu thập bao gồm:</p>

            <p>- Tên người liên hệ cá nhân hoặc công ty:</p>

            <p>- Số điện thoại:</p>

            <p>- Email:</p>

            <p>- Địa chỉ giao hàng:</p>

            <p>- Thông tin công ty bao gồm tên giao dịch đầy đủ, địa chỉ:</p>

            <p>- Địa chỉ giao dịch:</p>

            <p>Những thông tin trên sẽ được sử dụng cho một hoặc tất cả các mục đích sau:</p>

            <p>+ Giao hàng quý khách đã mua sản phẩm tại www.hades.vn;</p>

            <p>+ Thông báo về việc giao hàng và hỗ trợ khách hàng;</p>

            <p>+ Cung cấp thông tin liên quan đến sản phẩm;</p>

            <p>+ Xử lý đơn đặt hàng và cung cấp dịch vụ và thông tin qua trang web của chúng tôi theo yêu cầu của quý khách;</p>

            <p>+ Đổi trả hàng hóa nếu phát hiện lỗi do nhà sản xuất gây ra;</p>

            <p>+ Ngoài ra, chúng tôi sẽ sử dụng thông tin quý khách cung cấp để hỗ trợ quản lý tài khoản khách hàng; xác nhận và thực hiện các giao dịch tài chính liên quan đến các khoản thanh toán trực tuyến của khách hàng.</p>

            <p>+ Chi tiết đơn hàng của quý khách sẽ được chúng tôi lưu trữ nhưng vì lý do bảo mật, quý khách không thể yêu cầu thông tin đó từ chúng tôi. Tuy nhiên, quý khách có thể kiểm tra thông tin đó bằng cách đăng nhập vào tài khoản riêng của mình trên trang web. Tại đó, quý khách có thể theo dõi đầy đủ chi tiết của các đơn hàng đã hoàn tất, những đơn hàng mở và những đơn hàng sắp được giao cũng như quản lý thông tin về địa chỉ.</p>

            <p>PHẠM VI SỬ DỤNG THÔNG TIN</p>
            <p>Chúng tôi có thể chia sẻ tên, số điện thoại và địa chỉ của quý khách cho dịch vụ chuyển phát nhanh để có thể giao hàng cho quý khách. Khi quý khách đăng ký làm thành viên trên trang web www.hades.vn chúng tôi cũng sẽ sử dụng thông tin cá nhân của quý khách hàng để gửi các thông tin khuyến mãi/tiếp thị. Quý khách có thể hủy nhận các thông tin đó bất kỳ lúc nào bằng cách sử dụng chức năng hủy đăng ký trong các thông báo quảng cáo.</p>

            <p>Ngoài việc xử lý, hỗ trợ việc mua hàng của quý khách tại website www.hades.vn, chúng tôi sẽ sử dụng thông tin quý khách cung cấp để hỗ trợ quản lý tài khoản khách hàng; xác nhận và thực hiện các giao dịch tài chính liên quan đến các khoản thanh toán trực tuyến của quý khách.</p>

            <p>THỜI GIAN LƯU TRỮ THÔNG TIN</p>

            <p>HADES sẽ lưu trữ các thông tin cá nhân do khách hàng cung cấp và các cuộc trao đổi giữa khách hàng và Hades trên các hệ thống nội bộ của chúng tôi trong quá trình cung cấp dịch vụ cho khách hàng hoặc cho đến khi hoàn thành mục đích thu nhập. Trong trường hợp khi khách hàng muốn ngừng lưu trữ có thể liên hệ với công ty để thực hiện ngừng lưu trữ.</p>

            <p>CHIA SẺ THÔNG TIN KHÁCH HÀNG:</p>

            <p>HADES không bán, chia sẻ hay trao đổi thông tin cá nhân của khách hàng thu thập trên trang web cho một bên thứ ba nào khác có liên quan trực tiếp đến việc giao hàng. Chúng tôi có thể tiết lộ hoặc cung cấp thông tin cá nhân của quý khách hàng trong các trường hợp thật sự cần thiết như sau:</p>

            <p>- Khi có yêu cầu của cơ quan pháp luật.</p>

            <p>- Chia sẻ thông tin với đối tác của bên giao hàng ví dụ: giao hàng tiết kiệm,…</p>

            <p>- Chia sẻ thông tin với đối tác chạy quảng cáo.</p>

            <p>LIÊN KẾT VỚI WEBSITE KHÁC:</p>

            <p>Khách hàng có trách nhiệm bảo vệ thông tin tài khoản của mình và không cung cấp bất kỳ thông tin nào liên quan đến tài khoản và mật khẩu truy cập trên Hades.com trên các website khác.</p>

            <p>ĐỊA CHỈ CỦA ĐƠN VỊ THU THẬP VÀ QUẢN LÍ THÔNG TIN CÁ NHÂN:</p>

            <p>Tên đơn vị: CÔNG TY TNHH HADES</p>

            <p>Mã số thuế: 0316393653</p>

            <p>Địa chỉ trụ sở chính: 45 Phan Chu Trinh, Phường Bến Thành, Quận 1, Thành phố Hồ Chí Minh</p>

            <p>PHƯƠNG TIỆN VÀ CÔNG CỤ ĐỂ NGƯỜI DÙNG TIẾP CẬN VÀ CHỈNH SỬA DỮ LIỆU CÁ NHÂN CỦA MÌNH:</p>
            <p>Quý khách hàng có thể cập nhật thông tin bất cứ lúc nào bằng cách truy cập vào tài khoản cá nhân trên website www.hades.com hoặc liên hệ với chúng tôi theo email: contact@hades.vn</p>

            <p>CAM KẾT BẢO MẬT THÔNG TIN CÁ NHÂN KHÁCH HÀNG</p>

            <p>Chúng tôi rất quan tâm đến quyền riêng tư của quý khách hàng khi quý khách sử dụng những dịch vụ của chúng tôi. Chúng tôi cũng hiểu rằng quý khách sẽ rất quan tâm đến việc những thông tin mà quý khách cung cấp cho chúng tôi có được bảo mật an toàn hay không. Và chúng tôi luôn muốn quý khách sẽ thật yên tâm và tin tưởng khi tham gia các dịch vụ của chúng tôi. Vì vậy chúng tôi cam kết sẽ khiến quý khách có những trải nghiệm tuyệt vời nhất khi mua sắm hàng của chúng tôi với sự tin tưởng hoàn toàn.</p>

            <p>Chúng tôi bảo vệ thông tin cá nhân của quý khách bằng cách:</p>

            <p>+ Giới hạn truy cập thông tin cá nhân (Chỉ khi đăng nhập quý khách mới thấy được thông tin cá nhân của mình).</p>

            <p>+ Xóa thông tin cá nhân của quý khách khi nó không còn cần thiết cho mục đích lưu trữ hồ sơ của chúng tôi.</p>

            <p>CƠ CHẾ TIẾP NHẬN VÀ GIẢI QUYẾT KHIẾU NẠI LIÊN QUAN ĐẾN VIỆC THÔNG TIN CÁ NHÂN KHÁCH HÀNG</p>

            <p>+ Khi phát hiện thông cá nhân của mình bị sử dụng sai mục đích hoặc phạm vi, thành viên có thể cung cấp các thông tin, chứng cứ liên quan đến việc này theo liên hệ Chăm Sóc Khách Hàng: support@hades.vn</p>

            <p>+ Tùy theo mức độ, tính chất của việc khiếu nại mà Bộ phận/ đơn vị chủ trì giải quyết khiếu nại có biện pháp giải quyết cụ thể.</p>

            <p>
                + Nếu thông qua hình thức thỏa thuận mà vẫn không thể giải quyết được khiếu nại của thành viên thì một trong hai bên sẽ có quyền nhờ đến cơ quan pháp luật có thẩm quyền


                <br><br>
                <a href="@Url.Action("Index", "Home")" class="btn btn-light"> &laquo; Quay lại trang chủ</a>
        </div> <!-- container .// -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
</body>
