@{
    ViewBag.Title = "Chính Sách Nhận Chuyển";
}

<style>
    .map-container {
        margin: 0 auto;
        max-width: 100%; /* Đảm bảo bản đồ chiếm toàn bộ chiều rộng của cột */
    }

    .col-md-4 {
        padding: 15px;
    }

        .col-md-4 div {
            margin-bottom: 10px;
        }

    .oooo {
        margin-top: 20px;
    }

    .section-content {
        background-color: #fff;
        padding: 30px 0;
    }

    .title-page {
        font-size: 24px;
        font-weight: bold;
    }
</style>

<body>
    <section class="oooo">
        <div class="container">
            <h2 class="title-page">CHÍNH SÁCH GIAO NHẬN – VẬN CHUYỂN</h2>
        </div> <!-- container .// -->
    </section>
    <section class="section-content">
        <div class="container">
            <p>
                VanhaiStudio thực hiện giao hàng tới tất cả các tỉnh thành trên toàn quốc cho khách hàng đã đặt hàng online tại VanhaiStudio.vn.
            </p>
            <p>
                1. Thời gian vận chuyển
            <p>
                Đơn hàng của quý khách sẽ được Hades chuẩn bị và giao hàng trong vòng từ 2 - 5 ngày làm việc, tùy thuộc vào khoảng cách địa lý hoặc yêu cầu của quý khách.
            </p>
            <p>- Đơn hàng có thể được gửi tới địa chỉ do quý khách chọn (nhà riêng, cơ quan).</p>
            </p>
            <p>
                2. Phí vận chuyển:
            <p> Phí vận chuyển của đơn hàng được tính theo địa điểm nhận hàng của quý khách hàng, thường dao động trong khoảng 30.000 - 40.000 đồng tùy theo khu vực. </p>

            <p> Quý khách hàng vui lòng thanh toán mọi chi phí liên quan tới tiền vận chuyển theo cách thức sau:<p />
            <p> + Thanh toán trực tiêp phí vận chuyển cho nhân viên vận chuyển hàng hóa.<p />
            <p> + Thanh toán chuyển khoản/ thanh toán trực tuyến cho Hades bao gồm tiền hàng và tiền vận chuyển.<p />
            <p>Quý khách hàng có thể kiểm tra trực tiếp phí vận chuyển khi tiến hành đặt hàng tại Hades.vn</p>
            </p>
            <p>
                3. Tra cứu thông tin & Liên hệ

            <p>Để kiểm tra thông tin, trạng thái đơn hàng, quý khách vui lòng gửi mail tới địa chỉ support@hades.vn hoặc nhắn tin với bộ phận hỗ trợ của Hades trên Facebook & Instagram.<p />


            <br><br>
            <a href="@Url.Action("Index", "Home")" class="btn btn-light"> &laquo; Quay lại trang chủ</a>
        </div> <!-- container .// -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
</body>
