@{
    ViewBag.Title = "Chính sách sử dụng website";
}

<style>
    .map-container {
        margin: 0 auto;
        max-width: 100%; /* Đảm bảo bản đồ chiếm toàn bộ chiều rộng của cột */
    }

    .col-md-4 {
        padding: 15px;
    }

        .col-md-4 div {
            margin-bottom: 10px;
        }

    .oooo {
        margin-top: 20px;
    }

    .section-content {
        background-color: #fff;
        padding: 30px 0;
    }

    .title-page {
        font-size: 24px;
        font-weight: bold;
    }
</style>

<body>
    <section class="oooo">
        <div class="container">
            <h2 class="title-page">Chính sách sử dụng website</h2>
        </div> <!-- container .// -->
    </section>
    <section class="section-content">
        <div class="container">


            <p>Với mong muốn ngày càng hoàn thiện tổ chức bộ máy chuyên nghiệp để phục vụ khách hàng ngày một tốt hơn chúng tôi đưa ra những chính sách điều khoản nhất định tại HADES nhằm đảm bảo lợi ích và quyền lợi của khách hàng khi tham gia website của chúng tôi.</p>

            <p>Điều khoản sử dụng:</p>

            <p>GIỚI THIỆU</p>

            <p>Chào mừng quý khách đến với HADES.</p>

            <p>Chúng tôi là CÔNG TY TNHH HADES – hades.vn</p>

            <p>Địa chỉ: 45 Phan Chu Trinh, Phường Bến Thành, Quận 1, Thành phố Hồ Chí Minh, Việt Nam</p>

            <p>Điện thoại: 0903945112</p>

            <p>Email: contact@hades.vn</p>

            <p>hades.vn</p>

            <p>Khi bạn truy cập vào trang web của chúng tôi có nghĩa là bạn đồng ý với các điều khoản này. Trang web có quyền thay đổi, chỉnh sửa, thêm hoặc lược bỏ bất kỳ phần nào trong Quy định và Điều kiện sử dụng, vào bất cứ lúc nào. Các thay đổi có hiệu lực ngay khi được đăng trên trang web mà không cần thông báo trước. Và khi bạn tiếp tục sử dụng trang web, sau khi các thay đổi về Quy định và Điều kiện được đăng tải, có nghĩa là bạn chấp nhận với những thay đổi đó.</p>

            <p>Quý khách vui lòng kiểm tra thường xuyên để cập nhật những thay đổi của chúng tôi.</p>

            <p>Hướng dẫn sử dụng web</p>

            <p>Khi vào web của chúng tôi, người dùng tối thiểu phải 18 tuổi hoặc truy cập dưới sự giám sát của cha mẹ hay người giám hộ hợp pháp.</p>

            <p>Chúng tôi cấp quyền sử dụng để bạn có thể mua sắm trên web trong khuôn khổ Điều khoản và Điều kiện sử dụng đã đề ra.</p>

            <p>Nghiêm cấm sử dụng bất kỳ phần nào của trang web này với mục đích thương mại hoặc nhân danh bất kỳ đối tác thứ ba nào nếu không được chúng tôi cho phép bằng văn bản. Nếu vi phạm bất cứ điều nào trong đây, chúng tôi sẽ hủy quyền của bạn mà không cần báo trước.</p>

            <p>Trang web này chỉ dùng để cung cấp thông tin hàng hoá, sản phẩm chứ chúng tôi không phải nhà sản xuất nên những nhận xét hiển thị trên web là ý kiến cá nhân của khách hàng, không phải của chúng tôi.</p>

            <p>Quý khách phải đăng ký tài khoản với thông tin xác thực về bản thân và phải cập nhật nếu có bất kỳ thay đổi nào. Mỗi người truy cập phải có trách nhiệm với mật khẩu, tài khoản và hoạt động của mình trên web. Hơn nữa, bạn phải thông báo cho chúng tôi biết khi tài khoản bị truy cập trái phép. Chúng tôi không chịu bất kỳ trách nhiệm nào, dù trực tiếp hay gián tiếp, đối với những thiệt hại hoặc mất mát gây ra do bạn không tuân thủ quy định.</p>

            <p>Trong suốt quá trình đăng ký, bạn đồng ý nhận email quảng cáo từ website. Sau đó, nếu không muốn tiếp tục nhận mail, bạn có thể từ chối bằng cách nhấp vào đường link ở dưới cùng trong mọi email quảng cáo.</p>

            <p>Ý kiến khách hàng</p>

            <p>Tất cả nội dung trang web và ý kiến phê bình của quý khách đều là tài sản của chúng tôi. Nếu chúng tôi phát hiện bất kỳ thông tin giả mạo nào, chúng tôi sẽ khóa tài khoản của quý khách ngay lập tức hoặc áp dụng các biện pháp khác theo quy định của pháp luật Việt Nam.</p>

            <p>Chấp nhận đơn hàng và giá cả</p>

            <p>Chúng tôi có quyền từ chối hoặc hủy đơn hàng của bạn vì bất kỳ lý do gì vào bất kỳ lúc nào. Chúng tôi có thể hỏi thêm về số điện thoại và địa chỉ trước khi nhận đơn hàng.</p>

            <p>Chúng tôi cam kết sẽ cung cấp thông tin giá cả chính xác nhất cho khách hàng. Tuy nhiên, đôi lúc vẫn có sai sót xảy ra, ví dụ như trường hợp giá sản phẩm không hiển thị chính xác trên trang web hoặc sai giá, tùy theo từng trường hợp chúng tôi sẽ liên hệ hướng dẫn hoặc thông báo hủy đơn hàng đó cho bạn. Chúng tôi cũng có quyền từ chối hoặc hủy bỏ bất kỳ đơn hàng nào dù đơn hàng đó đã hay chưa được xác nhận hoặc đã bị thanh toán.</p>

            <p>Thương hiệu và bản quyền</p>

            <p>Mọi quyền sở hữu trí tuệ (đã đăng ký hoặc chưa đăng ký), nội dung thông tin và tất cả các thiết kế, văn bản, đồ họa, phần mềm, hình ảnh, video, âm nhạc, âm thanh, biên dịch phần mềm, mã nguồn và phần mềm cơ bản đều là tài sản của chúng tôi. Toàn bộ nội dung của trang web được bảo vệ bởi luật bản quyền của Việt Nam và các công ước quốc tế. Bản quyền đã được bảo lưu.</p>

            <p>Quyền pháp lý</p>

            <p>Các điều kiện, điều khoản và nội dung của trang web này được điều chỉnh bởi luật pháp Việt Nam và Tòa án có thẩm quyền tại Việt Nam sẽ giải quyết bất kỳ tranh chấp nào phát sinh từ việc sử dụng trái phép trang web này.</p>

            <p>Giải quyết tranh chấp</p>

            <p>Bất kỳ tranh cãi, khiếu nại hoặc tranh chấp phát sinh từ hoặc liên quan đến các Quy định và Điều kiện này đều sẽ được giải quyết theo quy định của Pháp luật hiện hành của nước Cộng Hòa Xã Hội Việt Nam.</p>

            <p>Quy định chấm dứt thỏa thuận</p>

            <p>Trong trường hợp có bất kỳ thiệt hại nào phát sinh do việc vi phạm Quy Định sử dụng trang web, chúng tôi có quyền đình chỉ hoặc khóa tài khoản của bạn vĩnh viễn. Nếu bạn không hài lòng với trang web hoặc bất kỳ điều khoản, điều kiện, quy tắc, chính sách, hướng dẫn, hoặc cách thức vận hành của hades.vn thì biện pháp khắc phục duy nhất là ngưng làm việc với chúng tôi.</p>

            <p>Luật pháp và thẩm quyền tại Việt Nam:</p>

            <p>Tất cả các Điều Khoản và Điều Kiện này và Hợp Đồng (và tất cả nghĩa vụ phát sinh ngoài hợp đồng hoặc có liên quan) sẽ bị chi phối và được hiểu theo luật pháp của Việt Nam. Nếu có tranh chấp phát sinh bởi các Quy định Sử dụng này, quý khách gửi khiếu nại lên Tòa án Việt Nam để giải quyết.</p>

            <p>Điều hành:</p>

            <p>hades.vn được điều hành bởi CÔNG TY TNHH HADES</p>

            <p>Địa chỉ: 45 Phan Chu Trinh, Phường Bến Thành, Quận 1, Thành phố Hồ Chí Minh, Việt Nam</p>

            <p>Điện thoại: 0903945112</p>

            <p>Email: contact@hades.vn</p>

            <p>hades.vn</p>

            <p>Công ty TNHH HADES</p>

            <br><br>
            <a href="@Url.Action("Index", "Home")" class="btn btn-light"> &laquo; Quay lại trang chủ</a>
        </div> <!-- container .// -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
</body>
