@{
    ViewBag.Title = "Chính Sách Nhận Chuyển";
}

<style>
    .map-container {
        margin: 0 auto;
        max-width: 100%; /* Đảm bảo bản đồ chiếm toàn bộ chiều rộng của cột */
    }

    .col-md-4 {
        padding: 15px;
    }

        .col-md-4 div {
            margin-bottom: 10px;
        }

    .oooo {
        margin-top: 20px;
    }

    .section-content {
        background-color: #fff;
        padding: 30px 0;
    }

    .title-page {
        font-size: 24px;
        font-weight: bold;
    }
</style>

<body>
    <section class="oooo">
        <div class="container">
            <h2 class="title-page">Điều Khoản Dịch Vụ</h2>
        </div> <!-- container .// -->
    </section>
    <section class="section-content">
        <div class="container">
          

            <p>VANHAI STUDIO</p>
            <p>MST: 0316393653</p>
            <p>Địa chỉ trụ sở: 45 Phan Chu Trinh, Phường Bến Thành, Quận 1, Thành phố Hồ Chí Minh</p>

            <p>Kính chào Quý khách hàng,</p>

            <p>Website www.vanhaistudio.com và thương hiệu Hades thuộc quyền sở hữu và quản lý của VanHai Studio. Khi Quý khách hàng truy cập vào website www.hades.com tức là Quý khách hàng đã đồng ý với các điều khoản được nêu bên dưới. Chúng tôi có quyền thay đổi, chỉnh sửa, thêm bớt bất kỳ nội dung nào trong Điều khoản dịch vụ này, vào bất cứ thời điểm nào mà không cần có thông báo trước; và các thay đổi này có hiệu lực ngay khi được đăng lên trang web. Quý khách hàng vui lòng đọc Điều khoản dịch vụ trước khi mua hàng.</p>

            <p>HƯỚNG DẪN SỬ DỤNG WEBSITE</p>

            <p>Khi vào website của chúng tôi, Quý khách hàng phải đảm bảo đủ 18 tuổi, hoặc truy cập dưới sự giám sát của cha mẹ hay người giám hộ hợp pháp. Quý khách đảm bảo có đầy đủ hành vi dân sự để thực hiện các giao dịch mua bán hàng hóa theo quy định hiện hành của pháp luật Việt Nam.</p>

            <p>Tài khoản (Account) Quý khách hàng đăng ký để thực hiện các giao dịch mua bán trên website www.hades.com được nằm trong khuôn khổ Điều khoản dịch vụ này.</p>

            <p>Khi đăng ký tài khoản, Quý khách hàng phải cung cấp thông tin chính xác về bản thân và phải cập nhật nếu có thay đổi. Mỗi người truy cập phải có trách nhiệm với mật khẩu, tài khoản và hoạt động của mình trên web. Chúng tôi không chịu bất kỳ trách nhiệm nào, dù trực tiếp hay gián tiếp, đối với những thiệt hại hoặc mất mát gây ra do Quý khách hàng không tuân thủ quy định.</p>

            <p>Nghiêm cấm sử dụng bất kỳ phần nào của trang web này với mục đích thương mại hoặc nhân danh bất kỳ bên thứ ba nào nếu không được sự đồng ý bằng văn bản từ chúng tôi. Nếu vi phạm bất cứ điều nào nêu trên đây, chúng tôi sẽ hủy tài khoản của bạn mà không cần báo trước.</p>

            <p>Trong suốt quá trình đăng ký, Quý khách hàng đồng ý nhận email quảng cáo từ website. Nếu không muốn tiếp tục nhận mail, Quý khách có thể từ chối bằng cách thực hiện theo hướng dẫn của chúng tôi trong mỗi email.</p>

            <p>XÁC NHẬN VÀ TỪ CHỐI ĐƠN HÀNG</p>
            <p>Khi Quý khách hàng đặt hàng trên website, chúng tôi sẽ nhận được yêu cầu đặt hàng và liên hệ lại để xác nhận đơn hàng. Để yêu cầu đặt hàng được xác nhận nhanh chóng, Quý khách hàng vui lòng cung cấp đúng và đầy đủ các thông tin liên quan đến việc giao nhận, hoặc các điều khoản và điều kiện của chương trình khuyến mãi (nếu có) mà Quý khách hàng tham gia.</p>

            <p>Chúng tôi có quyền từ chối nhận hoặc hủy đơn đặt hàng của Quý khách hàng vì bất kỳ lý do gì liên quan đến lỗi kỹ thuật, lỗi hệ thống, sự cung cấp sai thông tin, không liên hệ được người nhận hoặc những nguyên nhân khách quan và bất khả kháng như thiên tai, dịch bệnh v.v.</p>

            <p>HỦY ĐƠN HÀNG</p>

            <p>Trường hợp Quý khách muốn hủy bỏ đơn hàng đã thực hiện trên website www.vanhaistudio.com, qua trang Facebook, Instagram của chúng tôi để yêu cầu hủy đơn hàng.</p>

            <p>THANH TOÁN ĐƠN HÀNG</p>

            <p>Quý khách có thể tham khảo các phương thức thanh toán đã được nêu trong Thông báo phương thức thanh toán:</p>

            <p>Thanh toán khi nhận hàng (COD – giao hàng và thu tiền tận nơi). Quý khách vui lòng kiểm tra điều kiện để thanh toán COD trong Chính sách bán hàng.</p>

            <p>GIẢI QUYẾT LỖI NHẬP SAI THÔNG TIN</p>

            <p>Quý khách có trách nhiệm cung cấp thông tin đầy đủ và chính xác khi tham gia giao dịch tại www.hades.com. Trong trường hợp Quý khách nhập sai thông tin, chúng tôi có quyền từ chối thực hiện giao dịch.</p>

            <p>GIẢI QUYẾT TRANH CHẤP</p>

            <p>Bất kỳ tranh cãi, khiếu nại hoặc tranh chấp phát sinh từ hoặc liên quan đến các Quy định và Điều kiện này đều sẽ được giải quyết theo quy định của Pháp luật hiện hành của nước Cộng Hòa Xã Hội Việt Nam.</p>

            <p>QUY ĐỊNH CHẤM DỨT THỎA THUẬN</p>

            <p>Trong trường hợp có bất kỳ thiệt hại nào phát sinh do việc vi phạm Quy Định sử dụng trang web, chúng tôi có quyền đình chỉ hoặc khóa tài khoản của bạn vĩnh viễn. Nếu bạn không hài lòng với trang web hoặc bất kỳ điều khoản, điều kiện, quy tắc, chính sách, hướng dẫn, hoặc cách thức vận hành của hades.vn thì biện pháp khắc phục duy nhất là ngưng làm việc với chúng tôi.</p>

            <p>QUYỀN SỞ HỮU TRÍ TUỆ VÀ NỘI DUNG</p>
            <p>Mọi quyền sở hữu trí tuệ (đã đăng ký hoặc chưa đăng ký), tất cả nội dung thông tin và tất cả các thiết kế, văn bản, đồ họa, phần mềm, hình ảnh, video, âm nhạc, âm thanh, biên dịch phần mềm, mã nguồn và phần mềm cơ bản đều là tài sản của chúng tôi. Toàn bộ nội dung của trang web được bảo vệ bởi luật bản quyền của Việt Nam và các công ước quốc tế. Bản quyền đã được bảo lưu.</p>

            <p>QUYỀN PHÁP LÝ</p>

            <p>Các điều kiện, điều khoản và nội dung của trang web này được tuân theo luật pháp Việt Nam và Tòa án có thẩm quyền tại Việt Nam sẽ giải quyết bất kỳ tranh chấp nào phát sinh từ việc sử dụng trái phép trang web này.</p>

            <p>QUY ĐỊNH BẢO MẬT</p>

            <p>Chúng tôi coi trọng việc bảo mật thông tin và sử dụng các biện pháp tốt nhất bảo vệ thông tin và việc thanh toán của Quý khách. Mọi thông tin giao dịch sẽ được bảo mật ngoại trừ trường hợp được cơ quan pháp luật yêu cầu cung cấp thông tin.</p>

            <p>ĐIỀU HÀNH:</p>

            <p>hades.vn được điều hành bởi CÔNG TY TNHH HADES</p>

            <p>Địa chỉ: 45 Phan Chu Trinh, Phường Bến Thành, Quận 1, Thành phố Hồ Chí Minh, Việt Nam</p>

            <p>Điện thoại: 0981487674</p>

            <p>Email: contact@vanhaistudio.vn</p>

            <p>hades.vn</p>

            <p>Công ty TNHH HADES</p>


            <br><br>
            <a href="@Url.Action("Index", "Home")" class="btn btn-light"> &laquo; Quay lại trang chủ</a>
        </div> <!-- container .// -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
</body>
