@{
    ViewBag.Title = "Hướng dẫn mua hàng";
}

<style>
    .map-container {
        margin: 0 auto;
        max-width: 100%; /* Đảm bảo bản đồ chiếm toàn bộ chiều rộng của cột */
    }

    .col-md-4 {
        padding: 15px;
    }

        .col-md-4 div {
            margin-bottom: 10px;
        }

    .oooo {
        margin-top: 20px;
    }

    .section-content {
        background-color: #fff;
        padding: 30px 0;
    }

    .title-page {
        font-size: 24px;
        font-weight: bold;
    }
</style>

<body>
    <section class="oooo">
        <div class="container">
            <h2 class="title-page">Hướng dẫn mua hàng</h2>
        </div> <!-- container .// -->
    </section>
    <section class="section-content">
        <div class="container">


            <p>HADES nhận giao hàng toàn quốc. Quý Khách hàng có thể mua hàng trực tiếp tại shop hoặc đặt hàng trên Website chính thức www.hades.vn theo các bước sau:</p>

            <p>BƯỚC 1: TÌM SẢN PHẨM MONG MUỐN</p>

            <p>Quý Khách hàng có thể tìm kiếm bằng 2 hình thức sau:</p>

            <p>- Tìm kiếm theo tên/ mã sản phẩm: nhấp vào biểu tượng kính lúp ở góc phải, nhập từ khoá tìm kiếm vào ô tìm kiếm và gõ ENTER hoặc Nhấp vào biểu tượng kính lúp.</p>

            <p>- Tìm kiếm theo nhóm sản phẩm: Rê chuột vào các mục sản phẩm trên menu chính, các mục sản phẩm bao gồm: Tops, Bottoms, Outerwear, Hat, Bags xuất hiện. Nhấp vào từng mục sẽ hiện ra chi tiết nhóm sản phẩm Quý Khách hàng muốn tìm.</p>

            <p>BƯỚC 2: THÊM SẢN PHẨM CẦN MUA VÀO GIỎ HÀNG</p>

            <p>- Sau khi đã tìm được sản phẩm Quý Khách hàng mong muốn và tham khảo đầy đủ hình ảnh, mô tả kèm theo, hãy thực hiện thao tác chọn size, số lượng cần mua rồi Nhấp vào THÊM VÀO GIỎ để thêm sản phẩm vào giỏ hàng hoặc MUA NGAY.</p>

            <p>- Góc phải màn hình sẽ hiện danh sách sản phẩm đang có trong giỏ hàng và tổng số tiền tạm tính. Nhấp vào XEM GIỎ HÀNG nếu muốn kiểm tra đầy đủ giỏ hàng, Nhấp vào THANH TOÁN nếu đã chọn đủ món hàng mong muốn hoặc nhấp “Tiếp tục mua hàng” ở góc phải màn hình để tiếp tục mua hàng.</p>

            <p>- Quý Khách hàng có thể nhấn vào biểu tượng thùng rác ở bên dưới “Thành tiền” để loại bỏ sản phẩm mình không muốn mua ra khỏi giỏ hàng.</p>

            <p>BƯỚC 3: KIỂM TRA GIỎ HÀNG VÀ TIẾN HÀNH ĐẶT HÀNG</p>

            <p>- Kiểm tra lại thông tin đầy đủ về sản phẩm muốn đặt mua.</p>

            <p>- Điền mã giảm giá (nếu có) của Quý Khách hàng vào khung MÃ GIẢM GIÁ và nhấp vào SỬ DỤNG.</p>

            <p>- Điền đầy đủ thông tin giao hàng của Quý Khách hàng bao gồm Họ và tên, Email, Số điện thoại, Địa chỉ. Nếu đã có đăng ký tài khoản từ trước hãy nhấp vào ĐĂNG NHẬP.</p>

            <p>- Kiểm tra lại tất cả thông tin đã nhập, sau khi đã chắc chắn thì Nhấp vào TIẾP TỤC ĐẾN PHƯƠNG THỨC THANH TOÁN để chuyển sang bước tiếp theo.</p>

            <p>BƯỚC 4: CHỌN PHƯƠNG THỨC VẬN CHUYỂN</p>

            <p>Sau khi Quý Khách hàng nhập đầy đủ thông tin trong phần thông tin giao hàng, căn cứ vào địa chỉ nhận hàng và tổng giá trị đơn hàng, Website sẽ tự động đưa ra các phí vận chuyển cho Quý Khách hàng.</p>

            <p>Mức phí vận chuyển tùy theo từng khu vực giao động từ 30.000 (VNĐ) đến 40.000 (VNĐ)</p>

            <p>BƯỚC 5: CHỌN PHƯƠNG THỨC THANH TOÁN</p>

            <p>Sau khi Quý Khách hàng nhập đầy đủ thông tin trong phần thông tin giao hàng, căn cứ vào địa chỉ nhận hàng và tổng giá trị đơn hàng, Website sẽ tự động đưa ra phương thức thanh toán cho Quý Khách hàng.</p>

            <p>Cụ thể là thanh toán khi nhận hàng (COD): Quý Khách hàng thanh toán cho nhân viên giao hàng tại thời điểm nhận hàng.</p>

            <p>BƯỚC 6: HOÀN TẤT ĐƠN HÀNG</p>

            <p>Quý Khách hàng nhấn vào nút HOÀN TẤT ĐƠN HÀNG sau khi đã hoàn thành các bước trên và kiểm tra thật kỹ tất cả các thông tin đơn hàng, phương thức vận chuyển, phương thức thanh toán.</p>

            <p>Quý Khách hàng có thể theo dõi trạng thái đơn hàng của Quý Khách hàng tại mục KIỂM TRA ĐƠN HÀNG ở góc dưới màn hình Website hoặc Quý Khách hàng vui lòng gửi mail tới địa chỉ support@hades.vn hoặc nhắn tin với bộ phận hỗ trợ của Hades trên Facebook & Instagram.</p>

            <br><br>
            <a href="@Url.Action("Index", "Home")" class="btn btn-light"> &laquo; Quay lại trang chủ</a>
        </div> <!-- container .// -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
</body>
